.movieListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-top: 2px solid #fff;
	img {
		height: auto;
		width: 10%;
		object-fit: cover;
	}
	h3 {
		font-size: 1.2rem;
		align-items: left;
		width: 75%;
	}
}
