.userListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 2px solid #fff;
  img {
    height: auto;
    width: 7%;
    object-fit: cover;
    border-radius: 50px;
  }
  h3 {
    font-size: 1.2rem;
    align-items: left;
    width: 75%;
  }
}